<div class="modal fade" id="deleteFeedbackconfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Feedback                
            </div>
            <div class="modal-body">
               Do you want to delete the selected feedbacks?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="deleteFeedBacks">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

