<div class="modal fade" id="EditFeedbackconfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Update Feedback
            </div>
            <div class="modal-body">
                If you select multiple rows, it will only update the first row, did you want to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#EditFeedback" data-dismiss="modal" onclick="getSelectedRow()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
